<ListView row="2" colSpan="2" [items]="items" (itemTap)="onItemTap($event)">
    <ng-template nsTemplateKey="Active" let-item="item" let-i="index">
        <GridLayout columns="1*,5*" rows="*, *,*" class="{{item.selected}}">
            <Image col="0" row="0" rowSpan="2" src="res://m" width="30"></Image>
            <Label col="1" row="0" fontWeight="bold" text="{{item.title}}" class="titulos"></Label>
            <label col="1" row="1" fontWeight="bold" text="{{item.description}}" class="subTitulo"></label>
            <label col="1" row="2" text="{{item.date}}" class="subTitulo2"></label>
        </GridLayout>
    </ng-template>
</ListView>