<ns-action-bar [ActionBarName]="currentTab"></ns-action-bar>

<StackLayout backgroundColor="white">
    <StackLayout class="bg">
        <Label text="¿Requieres ayuda?" class="text-center first-label"></Label>

        <GridLayout class="box1 text-center" columns="1*,4*,1*" rows="*,*" height="100" marginBottom="10">
            <Image col="0" rowSpan="2" src="res://img3" width="30"></Image>
            <Label row="0" col="1" fontWeight="bold" fontSize="15" text="Chatea on un ejecutivo" horizontalAlignment="left" marginTop="20"></Label>
            <Label row="1" col="1" text="si tienes dudas, comentarios o reclamos" horizontalAlignment="left"></Label>
            <Image col="2" rowSpan="2" src="res://nav_1" width="10"></Image>
        </GridLayout>
    </StackLayout>
</StackLayout>